img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.image-wrapper {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 35px 0 20px 0;
    flex-direction: column;
}
.image-wrapper img {
    max-width: 120px;
}
li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.signUp{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px;
}
.signUp form{
    display: flex;
    flex-direction: column; 
}
.signUp form>* {
    margin-top: 10px;
}
a{
    cursor: pointer;
}